CREATE TABLE [dbo].[PaperInfo](
	[Year] [varchar](4) NULL,
	[PaperID] [varchar](20) NULL,
	[PaperName] [varchar](1000) NULL,
	[DepartmentID] [varchar](2) NULL,
	[SubjectID] [varchar](10) NULL,
	[ImburseProject] [varchar](1000) NULL,
	[MagazineName] [varchar](1000) NULL,
	[MagazineCode] [varchar](1000) NULL,
	[PublishYear] [varchar](20) NULL,
	[Volume] [varchar](10) NULL,
	[Number] [varchar](10) NULL,
	[LevelID] [varchar](2) NULL,
	[DAuditingState] [varchar](1) NULL,
	[DAuditingResult] [varchar](50) NULL,
	[LAuditingState] [varchar](1) NULL,
	[LAuditingResult] [varchar](50) NULL,
	[Operator] [varchar](20) NULL,
	[OperateTime] [varchar](20) NULL
) ON [PRIMARY]